#offcanvasRight{
    width: 100vh;
}

@media screen and (min-width: 960px) {
    #offcanvasRight{
        width: 100vh;
    }
}

@media screen and (min-width: 720px) {
    #sezione-nuovo-studente{
        height: 10vh;
    }
}

.ao-za{
    height: 41.5px;
}